@font-face {
  font-family: 'Roboto';
  src: url("/inventory/assets/fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #1E3B8B;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.menu-item a {
  text-decoration: none;
  color: #cbd5e1; /* grey initially */
  display: block;
}

/* Hover effect */
.menu-item:hover {
  background: #2f4a8a;
}

.menu-item:hover a {
  color: white;
}

/* ACTIVE STATE */
.menu-item.active {
  background: #3D569A;
}

.menu-item.active a {
  color: white;
}